<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="base::layout(~{::section})">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Login</title>
    <link rel="icon" type="image/x-icon" href="https://bootdey.com/img/Content/avatar/avatar7.png">
</head>

<body>
    <section>
        <div class="wrapper">
            <div class="logo">
                <img src="https://bootdey.com/img/Content/avatar/avatar7.png">
            </div>

            <div class="text-center mt-4 name">
                   <div class="text-center mt-4 name">
                <span style="color: royalblue;">w</span><span style="color: red;">w</span><span style="color: #F7B529;">w</span><span style="color: royalblue;">.</span><span style="color: limegreen;">e</span><span style="color: red;">m</span><span style="color: royalblue;">s</span><span style="color: red;">.</span><span style="color: #F7B529;">c</span><span style="color: royalblue;">o</span><span style="color: limegreen;">m</span>
            </div>
            </div>

   
            <div th:if="${session.message}" th:classappend="${session.message.type}" class="alert text-center"
				role="alert text-center">
				<p th:text="${session.message.content}"></p>
				<th:block th:text="${#session.removeAttribute('message')}"></th:block>
			</div>

<div th:if="${param.error} "  class="alert alert-danger text-center">
				
			<span >[[${session.SPRING_SECURITY_LAST_EXCEPTION.message}]]</span>
			
			</div>
       
			<div th:if="${param.logout}" class="alert alert-success text-center">
				You have been logged out
			</div>
	

            <form id="login-form" class="form p-3 mt-3" th:action="@{/dologin}" action="#" method="post">
                <div class="form-field d-flex align-items-center">
                    <i class="fa-solid fa-user"></i>
                    <input type="text" name="username" id="username" placeholder="Username" class="form-control" required />
                </div>

                <div class="form-field d-flex align-items-center">
                    <i class="fa-solid fa-key"></i>
                    <input type="password" name="password" id="password" placeholder="Password" class="form-control" required />
                </div>
                <input type="checkbox" onclick="myFunction()"> Show Password
                <button class="btn mt-3" id="signinform" type="submit">Sign In</button>
            </form>

            <div class="text-center fs-6">
                <a th:href="@{/forgot/}" id="forgotPasswordLink" href="#">Forgot Password?</a> or 
                <a th:href="@{/verify_admin_get/}" id="SignupLink" href="#">Sign up</a>
            </div>
        </div>
    </section>
</body>

</html>
